<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
</head>
<body>

<h3> Lista de Promotores</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Nif</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% for(var promotor of promotores) { %>       
            <tr>
            <td><%= promotor.nome %></td>
            <td><%= promotor.nif %></td>
            <td>
                <a href="/admin/promotores/alterar/<%= promotor.nif %> ">alterar</a>
                <a href="/admin/promotores/remover/<%= promotor.nif %>" onclick="return confirm('Tem a certeza que quer eliminar este registo?');">remover</a>
            </td>
        </tr>
        <% } %>
    </tbody>
    
</table>
<a href="/admin/promotores/adicionar"> Adicionar Novo</a>
<a href="/admin/promotores"> voltar</a>
</body>
</html>


<!--<!DOCTYPE html>
<html>

<head>
    <title>Listar Promotores</title>
</head>
<body>
    <div class="container">
    <h1>Promotores: </h1>
    <table>
        <tbody>
            <tr>
                <th>NOME</th>
                <th>NIF</th>
                <th>DATA DE NASCIMENTO</th>
                <th>EMAIL</th>
            <% if(promotores.length){
            promotores.forEach(function(promotor){ %>
            <tr>
                <td align="center"><%= promotor.nome %></td>
                <td align="center"><%= promotor.nif %></td>
                <td align="center"><%= promotor.data_nascimento %></td>
                <td align="center"><%= promotor.email %></td>
            <% });} %>
            </tr>
        </tbody>
    </table>
</div>
</body>

</html>
-->