<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <h1>Criar conta</h1>
      <%- include('alertas') %>
      <form action="/registar" method="POST">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" placeholder="Nome" value="<%= typeof nome != 'undefined' ? nome : '' %>" required/>


        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Email" value="<%= typeof email != 'undefined' ? email : '' %>" required/>
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
          required
        />
        <label for="nif">Numero Identificaçao Fiscal</label>
        <input
          type="number"
          id="nif"
          name="nif"
          placeholder="NIF"
          minlength="8"
          maxlength="8"
          value="<%= typeof nif != 'undefined' ? nif : '' %>"
          required
        />

        <label for="nome">Data de nascimento</label>
        <input
          type="date"
          id="data_nascimento"
          name="data_nascimento"
          placeholder="Data"
          value="<%= typeof data != 'undefined' ? data : '' %>"
          required
        />
        <button type="submit">Registar</button>
      </form>
      <i>Ja tem uma conta?</i><b><a href="/login">Iniciar Sessao</a></b>
    </div>
  </body>
</html>