<!DOCTYPE html>
<html>
  <body>
    <h3>Lista de Promotores</h3>
    <% if(promotores.length==0){ %>
    <h2>Promotores nao encontrados</h2>
    <h6>Adicione agora um promotor!</h6>
    <a href="/admin/promotores/adicionar">Adicionar promotor</a>
    <% } else{ %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Nif</th>
          <th>Email</th>
          <th>Data Nascimento</th>
        </tr>
      </thead>
      <tbody>
        <% for(var promotor of promotores) { 
        let ano = new Date(promotor.data_nascimento).getFullYear(); 
        let mes = ("0" + (new Date(promotor.data_nascimento).getMonth() + 1)).slice(-2); 
        let dia=("0" + new Date(promotor.data_nascimento).getDate()).slice(-2); 
        var data=(dia+'/'+mes+'/'+ano);
        %>
        <tr>
          <td><%= promotor.nome %></td>
          <td><%= promotor.nif %></td>
          <td><%= promotor.email %></td>
          <td><%= data %></td>
          <td>
            <a href="/admin/promotores/alterar/<%= promotor._id %> ">alterar</a>
            <a
              href="/admin/promotores/remover/<%= promotor._id %>"
              onclick="return confirm('Tem a certeza que quer eliminar este registo?');"
              >remover</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <a href="/admin/promotores/adicionar"> Adicionar Novo</a>
    <% } %>
    <a href="/admin/promotores"> voltar</a>
  </body>
</html>
