<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <%- include('../alertas') %>
      <h1>Adicionar Evento</h1>
      <form action="/promotor/eventos/adicionar_evento/<%= local %>/<%= _idPromotor%>" method="POST" enctype="multipart/form-data">
        <label for="nome">Nome do Evento</label>
        <input
          type="string"
          id="nome"
          name="nome"
          placeholder="Nome do Evento"
          value="<%= typeof nome != 'undefined' ? nome : '' %>"
          required
        />
        <label for="lotacao">Data Evento</label>
        <input
          type="date"
          id="data"
          name="data"
          placeholder="Data"
          value="<%= typeof data != 'undefined' ? data : '' %>"
          required
        />
        <label for="descricao">Descricao</label>
        <input
          type="string"
          id="descricao"
          name="descricao"
          placeholder="Descriçao"
          value="<%= typeof descricao != 'undefined' ? descricao : '' %>"
          required
        />
        <label for="preco">Preco do Bilhete</label>
        <input
          type="number"
          id="preco"
          name="preco"
          placeholder="Preço"
          min="1"
          value="<%= typeof preco != 'undefined' ? preco : '' %>"
          required
        />
        <label for="bilhetes">Nº de Bilhetes para venda</label>
        <input
          type="number"
          id="bilhetes"
          name="bilhetes"
          placeholder="Nº bilhetes"
          min="1"
          required
        />
        <label for="poster">Poster Promocional</label>
        <input
          type="file"
          id="poster"
          name="poster"
          placeholder="Poster"
          required
        />
        <button type="submit">Criar Evento</button>
      </form>
    </div>
  </body>
</html>
